<div class="contaniner">
  <div>
    <div style="display: flex">
      <div style="user-select: none; cursor: pointer" class="tab" [ngClass]="{'tab-active': selectedTab == 0}" (click)="showClienti()">Persone</div>
      <div style="user-select: none; cursor: pointer" class="tab" [ngClass]="{'tab-active': selectedTab == 1}" (click)="showProdotti()"></div>
    </div>
    <div class="content" *ngIf="selectedTab == 0">
      <app-elenco></app-elenco>
    </div>
    <div class="content" *ngIf="selectedTab == 1">
      <app-prodotto></app-prodotto>
    </div>
  </div>
</div>
